.Header {
  top: 1px;
  width: 100%;
  height: 52px;
  background: var(--white) 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000029;
  opacity: 1;
  font-size: 1.4rem;
  display: flex;
}
.Header a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-decoration: none;
  padding: 0 3rem;
  /* font: normal normal normal 14px/17px Roboto; */
}
.Header a:link,
.Header a:visited,
.Header a:hover {
  color: var(--textcolor);
}

.ActiveLink {
  color: var(--purple500) !important;
  border-bottom: 2px solid var(--purple500);
}
