.AromaticForm {
  padding: 2rem;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  height: calc(100% - 6rem);
}
.Title {
  font-size: 2rem;
  /* width: 105px;
  height: 22px; */
  color: var(--blue700);
  letter-spacing: 0px;
  color: #2a62b7;
}
.SubTitle {
  font-size: 1.4rem;
  color: var(--grey500);
  text-align: left;
  font: 1.4rem;
  margin-top: 0.5rem;
}
.FormContainer {
  position: relative;
  margin-top: 1rem;
  width: 1333px;
  height: 668px;
  background: var(--white) 0% 0% no-repeat padding-box;
  border: 1px solid #eedffe;
  padding: 2rem;
  padding-left: 1rem;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.FormContainer > div {
  width: 50%;
  margin: 1rem 0 2rem;
  position: relative;
  /* height: 100px; */
}

.FormElTitle {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.Input {
  width: 90%;
  background: var(--white) 0% 0% no-repeat padding-box;
  border: 0.75px solid #b5b5b5;
  border-radius: 5px;
  font-size: 1.4rem;
  color: #757575;
  padding: 0.8rem 2rem;
}
.Input:focus {
  outline: none;
  background: var(--white) 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 4px var(--purple400);
  border: 0.75px solid var(--purple400);
}
.Radio {
  display: flex;
  align-items: center;
}
.Radio label {
  margin: 0 1rem 0 0.6rem;
}
.Radio input[type="radio"]:after {
  width: 14px;
  height: 14px;
  border-radius: 15px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: white;
  /* padding: 0.2rem; */
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--grey500);
}

.Radio input[type="radio"]:checked:after {
  width: 14px;
  height: 14px;
  top: -4px;
  left: -1px;
  border-radius: 15px;
  position: relative;
  background-color: var(--purple500);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #d1d3d1;
}
.Button {
  position: absolute;
  border: 0;
  color: white;
  padding: 0.8rem 1.5rem;
  /* background: var(--green500) 0% 0% no-repeat padding-box; */
  background: #48a44c 0% 0% no-repeat padding-box;
  border-radius: 3px;
  bottom: 2rem;
  right: 4rem;
}
.Star {
  color: var(--red500);
}
.Error {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  left: 0.5rem;
  color: var(--red500);
  text-align: left;
  font-size: 1.3;
  letter-spacing: 0px;
  opacity: 1;
}
